#biggest {
  padding: 10px;
  margin: 10px;
  background-color: lightgrey;
  border: transparent;
}
#top {
  height: 300px;
  padding: 40px;
  margin: 10px;
  background-color: green;
  border: transparent;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#bottom {
  height: auto;
  border: transparent;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
#fourth {
  padding: 40px;
  margin: 10px;
  background-color: blue;
  border: transparent;
  width: 400px;
  height: 500px;

}
#fifth {
  padding: 40px;
  margin: 10px;
  background-color: rgb(255, 0, 0);
  border: transparent;
  width: 1600px;
  height: 600px;
  justify-content: left;


}
#MOM {
  background-color: transparent;
  width: 100%;
  height: auto;
  border: transparent;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

#D,
#E,
#F {
  padding: 10px;
  margin: 10px;
  background-color:yellow;
  border: transparent;
  width: 300px;
  height: 300px;
}
#H {
  padding: 20px;
  margin: 20px;
  background-color:rgb(75, 31, 75);
  border: transparent;
  width: 1500px;
  height: 200px;
}
