#biggest {
  padding: 10px;
  margin: 10px;
  background-color: lightgrey;
  border: transparent;
}
#top {
  height: 300px;
  padding: 40px;
  margin: 10px;
  background-color: green;
  border: transparent;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#bottom {
  height: auto;
  border: transparent;
}
#fourth {
  padding: 40px;
  margin: 10px;
  background-color: blue;
  border: transparent;
  width: 200px;
  height: 300px;
  justify-content: right;
}
#A,
#B,
#C {
  padding: 10px;
  margin: 5px;
  background-color: black;
  border: transparent;
  width: 100px;
  height: 100px;
}
